@media(max-width:1500px){
    .course_list_block {
        grid-column-gap: 0px;
    }
    .filterElement {
        width:20.5rem;
        height: 285px;
    }
    .logo {
        width: 250px;
        height: 100px;
    }
}
@media(max-width:1472px) {
    .filterElement {
        width:20rem;
        height: 285px;
    }
    .filterElement > h3 {
        font-size: 19px;
    }
    .course_list_block {
        grid-column-gap: 30px;
        grid-template-columns: repeat(auto-fit, 19rem);
    }
}
@media(max-width:1420px){
    .video-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text_container {
        margin: 40px 0px 0px 0px;
    }
    .text_container > h2{
        position: relative;
        bottom:25px;
    }
    .text_container > p {
        font-size: 22px;
        width: 30rem;
        margin: 0 auto;
        text-align: center;
    } 
    .author_block {
        width: 80%;
        margin: 0 auto;
    }
    .upgrade_skills {
        padding: 10px;
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .upgrade_expect {
        text-align: start;
        margin: 0;
        padding: 0;
        font-size: 23px;
    }
}
@media(max-width:1330px) {
    .filterElement {
        transform: scale(0.95);
    }
    .course_list_block {
        grid-column-gap: 15px;
        grid-template-columns: repeat(auto-fit, 19rem);
    }
}
@media(max-width:1000px){
    .about_img {
        width: 20rem;
        height: 330px;
    }
    .course_list_block  {
        justify-content: center;
    }
}
@media(max-width:800px){
    .about_container {
        position: relative;
        bottom:50px;
    }
    .about_content_text {
        max-width: 35rem;
        font-size: 17px;
        margin: 5px;
    }
}
@media(max-width:780px){
    #modal_window {
        top:10px;
        transform: scale(0.90);
        padding: 10px 10px 100px 10px;
    }
    #skillEvaluate {
        /* width: 355px; */
        width: 100%;
        height: 75px;
        margin: 10px;
        overflow: scroll;
        top:20px;
        left: 0;
    }
    .textarea {
        /* position: relative; */
        top:50px;
    }
    #section_about > h3 {
        top:70px;
        font-size: 32px;
    }
    .about_container {
        display: block;
    }
    .about_img {
        width: 16rem;
        height: 160px;
        top:1rem;
        margin: 0 auto;
        border-radius: 0px;
    }
    .about_content_text {
        position: relative;
        margin: 0 auto;
        width: 99%;
        top:120px;
    }
    .about_content_text > p {
        text-align: center;
        font-size: 20px;
    }
    .about_button_section{
        position: relative;
        top:200px;
    }
    .intrest {
        font-size: 25px;
        text-align: center;
    }
    .about_links {
        top:20px;
    }
    .about_links > a >p {
        width: 150px;
        height: 50px;
    }
    .footer_block {
        flex-wrap: wrap;
    }
}
@media(max-width:650px) {
    .navigation-content {
        display: none;
        float: left;
        background: red;
    }
    .logo {
        display: none;
    }
    .logo_mobile{
        display: block;
    }
    .navigation-content {
        opacity: block;
        /* background: red; */
        margin: 0;
        padding: 0;
    }
    .navigation-content > * {
        
    }
    .header-content > h1 {
        font-size: 38px;
    }
    .header-content > h1 > span {
        font-size: 38px;
    }
    .header-content > p {
        font-size: 18px;
    }
}